<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>タスク管理×チャット</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div id="room_contain" class="contain">
		<div id="room_name_contain">
			<p class="inline">ルーム名　：</p>
			<input type="text" id="room_input" style="width:100px;">
		</div>
		<div id="user_name_contain">
			<p class="inline">ユーザー名： </p>
			<input type="text" id="name_input" style="width:100px;">
		</div>
		<button onclick="didPushEnterRoomButton()" style="width:207px; margin-top:10px; display: block;">入室</button>
		<div id="roomInfo"></div>
		<div id="onlineUserCount"></div>
		<div id="roomList"></div>
	</div>

	<div id="message_contain" class="contain">
		<div id="message_form">
			<p class="inline">メッセージ：</p>
			<input type="text" id="message_input" style="width:200px;">
			<button onclick="didPushSendMessageButton()" style="width:50px;">送信</button>
			<button onclick="didPushDeleteDBButon()" style="width:50px;">全削除</button>
		</div>
		<div id="message"></div>
		<div id="member_contain">
			<div id="memberList">
				<form action="" id="memberList_form"></form>
			</div>
		</div>
	</div>

	<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/chatask.js"></script>

</body>
</html>