div.contain {
			margin: 20px;
		}

		div#message_contain {
			/*visibility: hidden;*/
		}

		div#roomInfo {
			margin-top: 10px;
			margin-bottom: 5px;
			padding: 10px;
			height: 25px;
			border: 1px solid #ccc;
			border-radius: 10px;
		}

		div#onlineUserCount {
			margin-top: 10px;
			margin-bottom: 5px;
			padding: 10px;
			height: 25px;
			border: 1px solid #ccc;
			border-radius: 10px;
		}

		div#roomList {
			margin-top: 10px;
			margin-bottom: 40px;
			padding: 10px;
			height: 100px;
			border: 1px solid #ccc;
			border-radius: 10px;
		}

		div#message {
			margin-top: 10px;
			margin-bottom: 40px;
			height: 300px;
			width: 45%;
			float: left;
			border: 1px solid #ccc;
			border-radius: 10px;
			padding: 10px;
		}

		div#memberList {
			margin-top: 10px;
			margin-bottom: 40px;
			height: 300px;
			width: 45%;
			float: right;
			border: 1px solid #ccc;
			border-radius: 10px;
			padding: 10px;
		}

		p.inline { display: inline; }
	</style>
