<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>Group create done</h1>
    <p>group name: <%= items %></p>
    <a href="/login">login!</a>
</body>
</html>