<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

    <h1><%= title %></h1>
    <p>create ok!</p>
    <p>Hello,  <%= items %> !!</p>

</body>
</html>