<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>

	<h1>^^</h1>
    <p><a href="/create">Create</a></p>
	<p><a href="/login">Login</a></p>

</body>
</html>