<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>

	<form action="/logon" method="POST">
		<h1></h1>
		
		<fieldest>
			<p><label>groupname</label><input type="text" name="groupname"></p>
			<p><label>password</label><input type="password" name="password"></p>
			<p><label>name</label><input type="text" name="member"></p>
		</fieldest>

		<input type="submit" value="Login">

	</form>
	
</body>
</html>