<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

    <h1><%= title %></h1>
    <p>logon ok!</p>
    <p>Hello,  <%= items %> !!</p>
    
    <p><a href="/logout">Logout</a></p>
<!--     <p><a href="/form">NewEntry</a></p> -->

</body>
</html>